.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.worksheetDropdown {
  font-size: 14px;
  font-weight: bold;
  text-wrap: nowrap;
  background-color: var(--color-select);
  color: var(--color-text);
}

.popoutOption {
  display: flex;
  gap: 8px;
  align-items: center;
}

.worksheetDropdown:hover {
  opacity: 1 !important;
}

.toggleContainer {
  position: relative;
}

.courseConflictIcon {
  position: absolute;
  top: -3px;
  right: -3px;
  z-index: 1;
}

.modalCourseConflictIcon {
  top: -8px;
}
