.controlCol {
  display: flex;
  justify-content: center;
  width: 2.5rem;
}

.seasonCol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width-col-season);
}

.codeCol {
  width: var(--width-col-code);
}

.titleCol {
  flex-grow: 1;
  width: var(--width-col-title);
}

.archiveGpaCol {
  white-space: nowrap;
  width: var(--width-col-archive-gpa);
}

.archiveCountCol {
  white-space: nowrap;
  width: var(--width-col-archive-count);
}

.profCol {
  width: var(--width-col-prof);
}

.meetCol {
  width: var(--width-col-meet);
}

.locCol {
  width: var(--width-col-loc);
}

.addedCol {
  width: var(--width-col-added);
}

.skillAreaCol {
  width: var(--width-col-skill-area);
}
