.resultsContainer {
  width: 100%;

  /* Room for both navbar and footer */
  min-height: calc(100vh - 400px);

  --width-total: min(1600px, 100vw);
  --width-col-season: 0px;
  --width-col-code: 90px;
  --width-col-archive-gpa: 112px;
  --width-col-archive-count: 102px;
  --width-col-added: 80px;
  --width-padding: 43px;
  --width-extra: calc(
    var(--width-total) - var(--width-col-season) - var(--width-col-code) -
      var(--width-col-archive-gpa) - var(--width-col-archive-count) -
      var(--width-padding)
  );
  --width-col-prof: clamp(120px, calc(var(--width-extra) / 5), 260px);
  --width-col-skill-area: clamp(40px, calc(var(--width-extra) / 8), 126px);
  --width-col-meet: clamp(60px, calc(var(--width-extra) / 6), 170px);
  --width-col-loc: max(30px, var(--width-extra) / 13);
  --width-col-title: calc(
    var(--width-extra) - var(--width-col-prof) - var(--width-col-skill-area) -
      var(--width-col-meet) - var(--width-col-loc) - var(--width-col-added)
  );
}

.resultsContainer.resultsMultiSeasons {
  --width-col-season: 50px;
}

.resultsMobileHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 1rem;
}

@media (min-width: 1320px) {
  .resultsContainer {
    --width-col-code: 110px;
    --width-col-archive-gpa: 124px;
    --width-col-archive-count: 112px;
  }
}
